@import "bootstrap/scss/bootstrap";
@import "map";
@import "react-toastify/scss/main";

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.loading-container {
	padding: 3rem;
	display: flex;
	justify-content: center;
	justify-self: center;
}

.cursor-pointer {
	cursor: pointer;
}

#restaurant-list-info {
	background-color: #212529;
	color: white;
}

#list-info > ul > a {
	color: white;
}

#sidebarburger {
	position: absolute;
	top: 50px;
	right: 2em;
	z-index: 5;
	padding: 0;
	margin: 0;
	border: none;
	min-width: 300px;
	min-height: 50px;
}
@media (max-width: 500px) {
	#sidebarburger {
		min-width: 75px;
	}
}
