@import "bootstrap/scss/bootstrap";
@import "map";
@import "react-toastify/scss/main";
@import 'react-bootstrap-sidebar-menu/dist/sidebar-menu.scss';

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}