@import "bootstrap/scss/bootstrap";
@import "map";
@import "react-toastify/scss/main";

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// position: relative;
}
.loading-container {
	padding: 3rem;
	display: flex;
	justify-content: center;
	justify-self: center;
}
